*{
   margin : 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
html,body {
    height: 100%;
    width: 100%;
}
.box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
#inner {
    height: 50%;
    width: 50vw;
    background-color: royalblue;
}
@media (max-width : 600px) {
    .box{
        background-color: royalblue;
    }
}